<div class="row search-header">
  <div class="col-10 offset-1 text-center my-auto">
    <h2 class="search-heading">Search for a Company</h2>
  </div>
  <div class="col-10 offset-1 col-sm-6 offset-sm-3 my-auto">
    <input type="text" class="w-100 search-bar" placeholder="Search..." />
  </div>
</div>

<div class="row">
  <div class="col-12 col-sm-8 offset-sm-2">
    <div class="row">
      <div
        class="col-10 offset-1 col-sm-6 offset-sm-0"
        *ngFor="let company of this.searchResults"
      >
        <div class="card my-3">
          <img class="card-img-top" src="{{ company.imageUrl }}" alt="" />
          <div class="card-body">
            <h5>{{ company.name }}</h5>
            <p>{{ company.phrase }}</p>
          </div>
          <div class="card-footer">
            <p>{{ company.city }}, {{ company.country }}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
